# dependencies
node_modules/
.pnp
.pnp.js

# build
dist/
.vite/
*.tsbuildinfo

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# env
.env
.env.local
.env.*.local

# vercel
.vercel
